{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Регистрация</h2>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Имя пользователя" value="{{ request.POST.username }}" required>
            <input type="password" name="password1" placeholder="Пароль" required>
             <input type="password" name="password2" placeholder="Повторите пароль" required>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <p> {{ error }} </p>
        <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    </div>
</body>
</html>